.redTable {
    border: 6px solid var(--darkred);
    background-color: var(--white);
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    box-sizing: border-box;
}

.redTable td, .redTable th {
    border: 1px solid var(--white);
    padding: 3px 2px;
}

.redTable tbody td {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    border-bottom: 1px solid var(--red);
}

.redTable thead {
    background: var(--red);
}

.redTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

.redTable td{
    font-size: 13px;
}

.redTable{
    text-align: left;
}

.butAdd, .butMod{
    float: left;
    margin: 10px;
}

select {
    display:flex;
    flex-direction: column;
    width: 90px;
    height:40px;
    float:left;
    margin: 10px;
    background-color: var(--darkred);
    color: var(--white);
}

fieldset {
    border: 6px solid var(--darkred);
    width: 100%;
    background: var(--white);
    padding: 5px;
}

fieldset legend {
    background: var(--white);
    border-left: 6px solid var(--darkred);
    border-radius: 20px;
    padding: 6px;
    font-weight: bold;
}

.formWrapper{
    clear: both;
}

.formWrapper form{
    margin: 10px;
    float: left;
}

.btn{
    padding: 15px;
    margin:5px;
}

@media screen and (max-width: 768px) {
    .redTable {
        float:left;
    }

    .redTable thead{
        display: none;
    }

    .redTable, .redTable tbody, .redTable td, .redTable th{
        display: block;
        width:100%;
    }

    .redTable tr{
        margin-bottom: 15px;
    }

    .redTable td{
        text-align: right;
        text-align: left;
        position: relative;
    }

    .redTable td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}

.app{
    display: flex;
    flex-flow: row nowrap;
}

.sidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    color: #730303;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--darkcream);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: white;
    border:none;
    width:60px;
    height:60px;
    margin:10px 10px 10px 0px;
}

.openbtn img{
    width: 25px;
    height: 25px;
}

.openbtn:hover {
    background-color: var(--darkred);
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.info{
    text-align: center;
    font-style: italic;
    font-weight: normal;
}

.content{
    background-color: var(--cream);
    flex:1;
}

.body{
    flex-grow: 1;
}




