.app{
    display: flex;
    flex-flow: row nowrap;
}

.sidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    color: #730303;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--darkcream);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: white;
    border:none;
    width:60px;
    height:60px;
    margin:10px 10px 10px 0px;
}

.openbtn img{
    width: 25px;
    height: 25px;
}

.openbtn:hover {
    background-color: var(--darkred);
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.info{
    text-align: center;
    font-style: italic;
    font-weight: normal;
}

.content{
    background-color: var(--cream);
    flex:1;
}

.body{
    flex-grow: 1;
}

