.footer {
    font-family: Raleway;
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
    position: fixed;
    float: bottom;
    left: 0;
    bottom: 0.5em;
    width: 100%;
    background-color: var(--cream);
    color: var(--darkcream);
    text-align: center;
}