body {
    background-color: var(--cream);
    font-family: 'Raleway';
    font-style: normal;
    font-size: 30px;
}
h1{
    margin-bottom: 0px;
    margin-top: 48.2px;
    padding-left: 16px;
    font-size: 49px;
}
.products {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    margin-top: 40px;
    padding-bottom: 1%;
    flex-basis: 33%;
    display: flex; /* so child elements can use flexbox stuff too! */
    flex-direction: column;
    vertical-align: top;
    text-align: center;
}

.product-card-single{
    margin-top: 40px;
    padding-bottom: 1%;
    flex-basis: 100%;
    display: flex; /* so child elements can use flexbox stuff too! */
    vertical-align: top;
    text-align: center;
}

.product-image img {
    cursor: pointer;
    max-width: 100%;
}

.product-info{
    display: block;
}

.product-info h5{
    margin-top: 10px;
    margin-bottom: 0;
}

.product-info h6{
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 700px) {
    .product-card-single {
        display:block;
    }
}

@media (max-width: 1200px) {
    .product-card {
        flex-basis: 50%;
    }
}


@media (max-width: 900px) {
    .product-card {
        flex: 55%;
    }
}

